/* Master CSS stylesheet for Panstora */

/* Applied to links that should look like buttons */
.button, input#submit {
    color: #D2401B; /* reddish-orange */
    padding: 4px;
    background: #E3E3E3;
    text-shadow: 0 1px 0 #FFF;
    border: 1px solid #BBB;
    border-radius: 3px;
}

.button:hover, input#submit:hover {
    background: #D9D9D9;
    cursor: pointer;
}

.button:active, input#submit:active {
    background: #D0D0D0;
    cursor: pointer;
}

/* Applied to main navigation bar */
.nav-list {
    display: block;
}

.nav-list li {
    display: inline;
}

.nav-list a {
    text-decoration: none;
}

/* Block found on index page containing title and desc. */
.title-block {
    display: block;
    font-family: sans-serif;
}

/* Applied to "Panstora" title spans */
.title {
    color: #D2401B; /* reddish-orange */
    display: block;
    font-size: 60px;
    font-family: serif;
    text-align: center;
}

/* Applied to subtitle spans */
.subtitle {
    color: #AAA; /* grey */
    display: block;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
